<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>
	<h:body>
		<ui:composition template="/templates/layout.xhtml">
			<ui:define name="content">
				<h:outputText styleClass="note" value="PRODUKTY_" />
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
</html>