<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>
	<h:body>
		<ui:composition template="/templates/layout.xhtml">
			<ui:define name="content">
				<h:form id="userList">
					<rich:dataTable id="userTable" iterationStatusVar="it" var="user"
						value="#{usersBean.allUsers}" rows="15">
						<rich:column>
							<f:facet name="header">
								<h:link id="add" outcome="/management/user.xhtml">
									<h:graphicImage value="/images/icons/new.gif" />
								</h:link>
							</f:facet>
#{it.index}
</rich:column>
						<rich:column>
							<f:facet name="header">#{msg['user.username']}</f:facet>
#{user.username}
</rich:column>
						<rich:column>
							<f:facet name="header">#{msg['user.firstname']}</f:facet>
#{user.firstName}
</rich:column>
						<rich:column>
							<f:facet name="header">#{msg['user.lastname']}</f:facet>
#{user.lastName}
</rich:column>
						<rich:column>
							<f:facet name="header">#{msg['group.groupname']}</f:facet>
#{user.group.groupname}
</rich:column>
						<rich:column>
							<f:facet name="header">#{msg['user.active']}</f:facet>
#{user.active}
</rich:column>
						<rich:column>
							<h:link id="edit" outcome="/management/user.xhtml">
								<h:graphicImage value="/images/icons/edit.gif" />
								<f:param name="id" value="#{user.id}" />
							</h:link>
							<a4j:commandLink render="@none"
								oncomplete="#{rich:component('confirmRemoval')}.show()">
								<h:graphicImage value="/images/icons/delete.gif" />
								<a4j:param value="#{user.id}"
									assignTo="#{usersBean.userIdToRemove}" />
							</a4j:commandLink>
						</rich:column>
					</rich:dataTable>
					<rich:popupPanel id="confirmRemoval" autosized="true">
#{msg['user.remove.areyousure']}
<a4j:commandButton value="#{msg['cancel']}"
							onclick="#{rich:component('confirmRemoval')}.hide(); return false;" />
						<a4j:commandButton value="#{msg['delete']}"
							onclick="remove(); return false;" />
					</rich:popupPanel>
					<a4j:jsFunction name="remove" action="#{usersBean.removeUser}"
						render="userTable"
						oncomplete="#{rich:component('confirmRemoval')}.hide();" />
				</h:form>
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
</html>