<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>
	<h:body>
		<f:metadata>
			<f:viewParam id="id" name="id" value="#{userBean.userId}" />
			<f:event type="preRenderView" listener="#{userBean.initUser}" />
		</f:metadata>
		<ui:composition template="/templates/layout.xhtml">

			<rich:dataTable id="userTable" iterationStatusVar="it" var="user"
				value="#{usersBean.user}" rows="15">
				<rich:column>
					<h:inputText id="username" value="#{userBean.user.username}" required="true" />
					<h:message for="username" />
				</rich:column>
				<rich:column>
					<h:inputText id="firstname" value="#{userBean.user.firstname}"
						required="true" />
					<h:message for="username" />
				</rich:column>
				<rich:column>
					<h:inputText id="lastName" value="#{userBean.user.lastName}" required="true" />
					<h:message for="lastName" />
				</rich:column>
				<rich:column>
					<h:inputText id="groupname" value="#{userBean.user.group.groupname}"
						required="true" />
					<h:message for="groupname" />
				</rich:column>
				<rich:column>
					<h:inputText id="active" value="#{userBean.user.active}" required="true" />
					<h:message for="active" />
				</rich:column>
				<rich:column>
					<h:link id="edit" outcome="/management/user.xhtml">
						<h:graphicImage value="/images/icons/edit.gif" />
						<f:param name="id" value="#{user.id}" />
					</h:link>
				</rich:column>
			</rich:dataTable>
			</ui:define>
		</ui:composition>
	</h:body>
</f:view>
</html>