<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<body>
	<ui:composition>

			<h:panelGroup class="page-header" layout="block">
				<h:form rendered="#{sessionBean.isUserLoggedIn()}">
					<rich:toolbar>
						<rich:dropDownMenu>
							<f:facet name="label">
								<h:panelGroup>
									<h:outputText value="#{msg['management.management']}" />
								</h:panelGroup>
							</f:facet>
							<rich:menuItem label="#{msg['management.user.management']}"
								action="#{menuBean.userManagement()}" />
							<rich:menuItem label="#{msg['management.product.management']}"
								action="#{menuBean.productManagement()}" />
						</rich:dropDownMenu>
						<rich:toolbarGroup location="right">
							<h:commandLink action="#{sessionBean.logout()}"
								value="#{msg['logout']}" />
						</rich:toolbarGroup>
					</rich:toolbar>
				</h:form>
			</h:panelGroup>
			
			
	</ui:composition>
</body>
</html>

